<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign in</h1>
        <p class="text-xs-center">
          <a href="/register">Need an account?</a>
        </p>

        @if ((form.invalid && (form.dirty || form.touched || submitted)) || (loginErrors$ | async)) {
          <h4 class="error-messages">Errors</h4>
          <ul class="error-messages">
            @if (form.controls['email'].invalid && form.controls['email'].errors?.['required']) {
              <li>Email is required</li>
            }
            @if (form.controls['password'].invalid && form.controls['password'].errors?.['required']) {
              <li>Password is required</li>
            }
            @if (loginErrors$ | async; as error) {
              <li>{{ error }}</li>
            }
          </ul>
        }

        <form [formGroup]="form" (submit)="attemptLogin()">
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Email" formControlName="email" />
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="password" placeholder="Password" formControlName="password" />
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right" type="submit">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</div>
