<div class="profile-page">

  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          @if ((profile$ | async); as profile) {
            <img [src]="profile.image" class="user-img" alt="User picture" />
            <h4>{{profile.username}}</h4>
            <p>
              {{profile.bio}}
            </p>
            @if ((user$ | async)?.username !== profile.username) {
              <button class="btn btn-sm btn-outline-secondary action-btn" (click)="profile.following ? unfollow(profile.username) : follow(profile.username)">
                <i class="ion-plus-round"></i>
                &nbsp; {{ profile.following ? 'Unfollow' : 'Follow' }} {{ profile.username }}
              </button>
            }
            @if ((user$ | async)?.username === profile.username) {
              <button class="btn btn-sm btn-outline-secondary action-btn">
                <i class="ion-gear-a"></i>
                &nbsp; Edit Profile Settings
              </button>
            }
          }
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <app-articles [articles]="articles" [pages]="pages" [page$]="page$" [user$]="user$" (pageChanged)="pageSelected($event)"
          (articleFavorited)="favoriteArticle($event)" (articleUnfavorited)="unfavoriteArticle($event)">
          <div class="articles-toggle">
            <ul class="nav nav-pills outline-active">
              <li class="nav-item">
                <a [routerLink]="['.']" [queryParams]="{filter: Feed.authored}" class="nav-link"
                  [ngClass]="{active: (feed$ | async) === Feed.authored}">My Articles</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['.']" [queryParams]="{filter: Feed.favorited}" class="nav-link"
                  [ngClass]="{active: (feed$ | async) === Feed.favorited}">Favorited Articles</a>
              </li>
            </ul>
          </div>
        </app-articles>
      </div>
    </div>
  </div>

</div>
