<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge</p>
    </div>
  </div>
  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <app-articles [articles]="articles" [pages]="pages" [page$]="page$" [user$]="user$" (pageChanged)="pageSelected($event)">
          <div class="feed-toggle">
            <ul class="nav nav-pills outline-active">
              @if ((user$ | async)) {
                <li class="nav-item">
                  <a [routerLink]="['/']" [queryParams]="{filter: Feed.your}" class="nav-link" [ngClass]="{active: (feed$ | async)?.feed === Feed.your}"
                    id="your-feed-link">Your Feed</a>
                </li>
              }
              <li class="nav-item">
                <a [routerLink]="['/']" [queryParams]="{filter: Feed.global}" class="nav-link" [ngClass]="{active: (feed$ | async)?.feed === Feed.global}"
                  id="global-feed-link">Global Feed</a>
              </li>
              @if ((feed$ | async)?.tag) {
                <li class="nav-item">
                  <a [routerLink]="['/']" [queryParams]="{filter: Feed.tag, tag: (feed$ | async)?.tag}" class="nav-link"
                    [ngClass]="{active: (feed$ | async)?.feed === Feed.tag}" id="tag-feed-link">#{{(feed$ | async)?.tag}}</a>
                </li>
              }
            </ul>
          </div>
      </app-articles>
    </div>
    <div class="col-md-3">
      <div class="sidebar">
        <p>Popular Tags</p>
        <app-tags [tags]="tags"></app-tags>
      </div>
    </div>
  </div>
</div>
