<button class="btn btn-sm btn-outline-secondary follow-control"
  (click)="article!.author.following ? unfollow(article!.author.username) : follow(article!.author.username)">
  <i class="ion-plus-round"></i>
  &nbsp; {{ article!.author.following ? 'Unfollow' : 'Follow' }} {{ article!.author.username }} <span class="counter"></span>
</button>
&nbsp;&nbsp;
<button (click)="article?.favorited ? unfavorited(article!) : favorited(article!)" class="btn btn-sm btn-outline-primary favorite-control"
  [ngClass]="{active: article?.favorited}">
  <i class="ion-heart"></i>
  &nbsp; {{ article?.favorited ? 'Unfavorite' : 'Favorite'}} Post <span class="counter">({{ article!.favoritesCount | number }})</span>
</button>
<!-- @if (!!(user$ | async) && (user$ | async)?.username === article?.author?.username) { -->
  <button (click)="edit(article!)" class="btn btn-sm btn-outline-secondary edit-control">
    <i class="ion-edit"></i> Edit Article
  </button>
  <button class="btn btn-sm btn-outline-danger delete-control">
    <i class="ion-trash-a"></i> Delete Article
  </button>
<!-- } -->
